body {
    margin: 0;
    height: 100vh;
}
.main-container {
    background-color: lightgray;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 5fr; */
    /* grid-template-rows: 1fr 5fr; */
    grid-template-areas: 
    "sidebar header header header"
    "sidebar projects projects announcements"
    "sidebar projects projects trending";
    gap: 1rem;
}
.sidebar {
    background-color: skyblue;
    /* grid-column: 1 / 2;
    grid-row: 1 / 3; */
    grid-area: sidebar;
}
.sidebar div a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;

}

.buttons {
    display: flex;
    gap: 15px;
}
.buttons button {
    background-color: skyblue;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
}
/* .main {
    background-color: lightgray;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
} */
.projects {
    grid-area: projects;
    
    /* grid-column: 1 / 2;
    grid-row: 1 / 3; */
}
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.cards-container > [class *= "card"] {
    background-color: white;
    padding: 1rem;
}
.cards-container > [class *= "card"] > h3 {
    margin-bottom: 0;
}
.cards-container > [class *= "card"] > p {
    margin-top: 0;
}

.announcements {
    grid-area: announcements;
}
.announcements .container {
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.trending {
    grid-area: trending;
}
.trending .container{
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}