body {
    margin: 0;
    height: 100vh;
}
.main-container {
    background-color: lightgray;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar projects projects announcements"
    "sidebar projects projects trending";
    
}
.sidebar {
    background-color: skyblue;
    grid-area: sidebar;
}
.sidebar div a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;

}

.buttons {
    display: flex;
    gap: 15px;
}
.buttons button {
    background-color: skyblue;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
}

.projects {
    grid-area: projects;
    margin: 1rem auto;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmaX(200px, 20%));
    gap: 1rem;
}
.cards-container > [class *= "card"] {
    background-color: white;
    padding: 1rem;
}
.cards-container > [class *= "card"] > h3 {
    margin-bottom: 0;
}
.cards-container > [class *= "card"] > p {
    margin-top: 0;
}

.announcements {
    grid-area: announcements;
    margin: 1rem;
}
.announcements .container {
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.trending {
    grid-area: trending;
    margin: 1rem;
}
.trending .container{
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}