body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}
.sidebar {
    background-color: skyblue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.sidebar div a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: white;
}

.main {
    background-color: lightgray;
}